@font-face {
    src: url("fonts/IndoorKidVariable[EMPH\,slnt\,wdth\,wght].woff2") format("woff2"),
         url("fonts/IndoorKidVariable[EMPH\,slnt\,wdth\,wght].woff") format("woff");

    font-family: 'Indoor Kid';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color: rgba(16, 182, 129, 0.898);
    font-family: 'Indoor Kid', sans-serif;
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 200ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */
.hero{
    background-image: url("assets/hero.png");
    height:400px;
    background-size: cover;
}
@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
}

#history {
grid-area: h;
background-color: rgb(91, 185, 248);
}

#variations{
grid-area: v;
background-color: rgb(232, 19, 19);
}

#alphabet {
grid-area: a;
background-color: rgb(255, 242, 0);
}
}
/* CSS for the footer */
footer{
    background-color: hsl(55, 100%, 49%);
}

#download {
    background-color: rgb(253, 175, 30);
}

/* variable font animation */
h3{
    font-weight:20; 
    text-align: center;
    padding-top: 200px;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

.opensans{
    font-family: "Open Sans", sans-serif;
    margin: 2px;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 8, "wght" 1, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 72, "wght" 900, "slnt" -13;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

